body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

table, td {
  border: solid #000 1px
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


.aviso{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  font-weight:bold;
  color:#000000;
  border: 5px solid #990000;
  background-color: #ff9999;
  padding: 5px;
  margin: 10px 0;
}

a:link {
 background-color: #fff;
 color:black
}
a:visited {
 background-color: #fff;
 color:black
}
a:hover {
 background-color: #c6c6c6;
 color:#000
}

a.show{
    background-image:url(bgs.png);
    background-position:-63px -357px;
    display:block;
    text-indent:-9999px;
    width:40px;
}

a.pages{
    background-image:url(bgs.png);
    background-position:0px -202px;
    display:block;
    text-indent:-9999px;
    width:30px;
}

a.groups{
    background-image:url(bgs.png);
    background-position:0px -140px;
    display:block;
    text-indent:-9999px;
    width:30px;
}

a.popups{
    background-image:url(bgs.png);
    background-position:0px -264px;
    display:block;
    text-indent:-9999px;
    width:30px;
}

a.fullbanners{
    background-image:url(bgs.png);
    background-position:0px -173px;
    display:block;
    text-indent:-9999px;
    width:30px;
}


a.edit{
    background-image:url(bgs.png);
    background-position:-75px -1506px;
    display:block;
    text-indent:-9999px;
    width:30px;
}

a.delete{
    background-image:url(bgs.png);
    background-position:-113px -1506px;
    display:block;
    text-indent:-9999px;
    width:30px;
}
